[submodule "themes/color-your-world"]
	path = themes/color-your-world
	url = https://gitlab.com/rmaguiar/hugo-theme-color-your-world.git
[submodule "themes/Niello"]
	path = themes/Niello
	url = https://github.com/guangmean/Niello.git
[submodule "themes/photophobia"]
	path = themes/photophobia
	url = https://github.com/setsevireon/photophobia
[submodule "themes/hugo-theme-shell"]
	path = themes/hugo-theme-shell
	url = https://github.com/Yukuro/hugo-theme-shell.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
